<!-- 250614_1756 -->
<!--
ページの先頭に配置する、ディレクトリ全体を表示するナビゲーションとなるコンポーネント
ツリー状に表示して、各ページへのリンクを埋め込む
今ここにいる　と表示してわかりやすくする
-->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>
        [<a href="https://kah221.github.io/merchior/index.html">TOP</a>]<br>
        |- <a href="https://kah221.github.io/merchior/tree.md" target="_blank">ツリー</a><br>
        |- <a href="https://kah221.github.io/merchior/pages/wordlist.html">単語帳</a><br>
        |- <a href="https://kah221.github.io/merchior/pages/translation.html">翻訳ノート</a><br>
        |

    </p>
</body>
</html>